In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_excel(r"C:\Users\ziaul\OneDrive\Documents\pandas\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [3]:
df = df.drop_duplicates()

In [4]:
df = df.drop(columns = "Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [5]:
df['Last_Name'] = df['Last_Name'].str.replace(r'[^A-Za-z]', '', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [24]:
def clean_phone_number(phone):
    if pd.isna(phone) or str(phone).strip().lower() in ["n/a", "nan", "none", ""]:
        return None  # ✅ Handle NaN, "N/a", "None", empty strings
    phone_str = str(phone).strip()  # ✅ Convert to string and remove spaces
    digits = re.sub(r'\D', '', phone_str)  # ✅ Remove all non-numeric characters

    # ✅ Handle country codes (leading "1" for US numbers)
    if len(digits) == 11 and digits.startswith('1'):
        digits = digits[1:]  # Remove leading "1"
    # ✅ Ensure we only keep numbers with exactly 10 digits
    if len(digits) != 10:
        return None  
    # ✅ Format correctly as (XXX) XXX XXXX
    return f"({digits[:3]}) {digits[3:6]} {digits[6:]}"
# Apply function to DataFrame
df['Formatted_Phone'] = df['Phone_Number'].apply(clean_phone_number)

from IPython.display import display

# Display cleaned data
display(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Formatted_Phone
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,(123) 545 5421
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,(123) 643 9775
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,(706) 695 0392
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,(123) 543 2345
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,(876) 678 3469
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,(304) 762 2467
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,None
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,(876) 678 3469
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,(123) 545 5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,None
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,(706) 695 0392
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,(123) 543 2345
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,(876) 678 3469
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,(304) 762 2467
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,(123) 545 5421
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,(123) 643 9775
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,(706) 695 0392
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,None
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,(876) 678 3469

In [26]:
df['Phone_Number'] = df['Formatted_Phone']

# ✅ Remove the now redundant 'Formatted_Phone' column
df.drop(columns=['Formatted_Phone'], inplace=True)

# ✅ Display cleaned data in Jupyter Lab
display(df)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,(123) 545 5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,(123) 643 9775,93 West Main Street,No,Yes
2,1003,Walter,White,(706) 695 0392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,(123) 543 2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,(876) 678 3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,(304) 762 2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,None,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678 3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,None,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,(123) 545 5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,None,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,(706) 695 0392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,(123) 543 2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,(876) 678 3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,(304) 762 2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,(123) 545 5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,(123) 643 9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,(706) 695 0392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,None,N/a,N/a,Yes
19,1020,Anakin,Skywalker,(876) 678 3469,"910 Tatooine Road, Tatooine",Yes,N

In [28]:
df.to_csv(r"C:\Users\ziaul\OneDrive\Documents\Data Cleaning Project\data\customer_call_cleaned_data.csv", index=False)

In [30]:
df.to_excel(r"C:\Users\ziaul\OneDrive\Documents\Data Cleaning Project\data\customer_call_cleaned_data.xlsx", index=False)